@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 4px;
}

.hero-unit.small {
	padding: 20px;
	margin-bottom: 20px;
}

.green {color:#00ff00;}
.yellow {color:#ffff00; background-color:#000}
.blue {color:#0000ff;}
