<div class="hero-unit small">
    <h2>Clubs</h2>
    <ul>
    	{{#each}}
    	<li>{{code}} {{#linkTo 'clubDetails' .}}{{name}}{{/linkTo}}</li>
    	{{/each}}
    </ul>
    <button {{action 'more'}}>Load more ...</button>
</div>